.selects-info {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .basket {
    cursor: pointer;
  }
}

.select-item-info {
  border: 1px solid transparent;
  border-radius: 10px;
  width: max-content;
  padding: 5px;
  color: white;
  background-color: green;
  margin-top: 10px;
}

.no-stock {
  background-color: red;
}

.selects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}


.select-extra-info {
  display: flex;

  .counter {
    margin-right: 5px;
  }
}

.add-item {
  display: flex;
  flex-direction: column;
}

.counter {
  .ant-input-number-group-wrapper {
    .ant-input-number-group-addon {
      padding: 0;
    }
  }

  .ant-input-number-wrapper {
    width: 170px !important;
  }
}

.basket {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;

  .items-card-info {
    border: 1px solid white;

    .items-card-info-header {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      text-align: center;
    }

    .item-infos {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      text-align: center;
      align-items: center;
      margin-bottom: 40px;

      .item-info-image {
        margin: auto;
      }
    }
  }

  .total-card {
    border: 1px solid white;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .total-card-info {
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      .total {
        font-weight: bold;
      }
    }
  }
  .total-card-header {
    font-weight: bolder;
  }
}